# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
db/
prisma/migrations/

# Logs
*.log
dev.log
server.log

# PWA
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js

# Cache
.cache/
